@import '../setup/variables';

// media query vendors
@import "../bootstrap/variables.scss";
@import "../bootstrap/breakpoints.scss";
@import "../bootstrap/functions.scss";
// standard
* {
  // border: 1px solid #ddd;
}
#component-wrapper {
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  padding-top: 1rem;
  & > div {
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 3rem;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
  }
  span {
    font-size: 1.3rem;
  }
}
.material-icons {
  position: absolute;
  right: 1rem;
  top: 1.65rem;
}
.serif {
  display: none;
}
p {
  position: relative;
  top: -1.3rem;
  font-size: 0.9rem;
  color: #aaa;
}
// card body style
#cardBody {
  width: 100%;
  >div {
    // height: 200px;
    border-radius: 2px;
  }
  img {
  border-radius: 8px;
  }
  ul {
    position: relative;
    margin-top: 1rem;
    left:0;
    li {
      float: left;
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: 5px;
      font-size: .9rem;
      border-radius: 2px;
      text-transform: uppercase;
      border: 1px solid $body-border;
      background-color: $sub-back;
      color: $font-color;
    }
  }
}
#cardBody + div {
  height: 100px;
}

// media query
@include media-breakpoint-down (sm) {
  // mobile
  #component-wrapper {
    display: block;
    margin-right: 1rem;
    & > div {
      min-width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}
@include media-breakpoint-between (sm, lg) {
  // ipad
  #component-wrapper > div {
    min-width: 45%;
  }
}
@include media-breakpoint-between (lg, xl) {
  // macbook
  #component-wrapper > div {
    margin-top: 2rem;
    margin-bottom: 3rem;
    // min-width: 30.33333333333%;
  }
}