@import '../setup/variables';

input[type=checkbox] {
  display: none;
}
// 바로 뒤에 있는 레벨 셀렉터
input[type=checkbox] + label {
  border: 2px solid $body-border;
  border-radius: 2px;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
input[type=checkbox]:checked + label {
  background-color: $point-opacity;
}
input[type=checkbox]:checked + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
}
// 두번째 셀렉터
label:last-child {
  line-height: 1.9rem;
  position: relative;
  top: -8px;
  left: 2px;
  font-size: 90%;
  text-transform: uppercase;
}