@import '../setup/variables';

#aside-wrapper {
  font-size: 1.1rem;
  font-weight: 300;
  background-color: $sub-back;
  #aside-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $body-border;
  }
  #aside-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #categories  {
    
    p {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      color:#555;
      font-weight: 400;
    }
  }
  .contact label {
    margin-bottom: 10px;
  }
  #heart-box, #star-box {
    display: flex;
    // border: 1px solid $body-border;
    width: 200px;
    height: 2rem;
    margin: 0 auto;
    // padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1rem;
    justify-content: flex-start;
    li {
      flex-grow: 1;
      color: $heart-color;
      // text-align: center;
      line-height: 2.5rem;
      &:last-child {
        border: none;
      }
    }
  }
  #heart-box {
    padding-top: 10px;
    padding-bottom: 5px;
    li {
      color: $heart-color;
    }
  }
  .contact {
    position: absolute;
    bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    #card {
      border: 1px solid $body-border;
      width: 13rem;
      height: 15rem;
      padding: 1rem;
      margin: 0 auto;
      #face-img {
        position: relative;
        left: 5px;
        top: 13px;
        clip-path: circle(120px at center);
      }
      >p {
        position: relative;
        top: -15px;
        font-weight: 500;
      }
      div {
        position: absolute;
        bottom: 0;
      }
    }
  }
}