@import '../setup/variables';

#aside-wrapper {
  font-size: 1.1rem;
  font-weight: 300;
  #aside-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $body-border;
    background-color: $body-border;
  }
  #aside-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #categories p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color:#555;
    font-weight: 400;
  }
  #wlgml {
    clip-path: circle(150px at center);
  }
  .contact label {
    margin-bottom: 10px;
  }
  #heart-box, #star-box {
    display: flex;
    // border: 1px solid $body-border;
    width: 200px;
    height: 2rem;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    li {
      flex-grow: 1;
      color: $heart-color;
      text-align: center;
      line-height: 2.5rem;
      &:last-child {
        border: none;
      }
    }
  }
 #star-box {
    li {
      color: $star-color;
    }
  }
  #heart-box {
    li {
      color: $heart-color;
    }
  }
  .contact {
    position: absolute;
    bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    >div {
      border: 1px solid $body-border;
      width: 13rem;
      height: 15rem;
      padding: 1rem;
      div {
        position: absolute;
        bottom: 0;
      }
    }
  }
}