@import "../setup/variables.scss";
// vendors
@import "../bootstrap/variables.scss";
@import "../bootstrap/breakpoints.scss";
@import "../bootstrap/functions.scss";
// this is contents
#comps {
  position: absolute;
  top: 60px;
  left: 0;
  right: $aside-width;
}
#aside-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: $aside-width;
  height: 100%;
  border-left: 1px solid $body-border;
  font-weight: 400;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: $aside-width;
  z-index: 2000;
  height: 60px;
  line-height: 60px;
  background-color: $header-back;
  border-bottom: 1px solid $body-border;
  #menu {
    display: flex;
    position: absolute;
    right: 0;
    width: 280px;
    height: inherit;
    a {
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
    }
    li {
      font-size: 1rem;
    }
  }
  > * {
    float: left;
  }
  h2 {
    margin: 0;
    margin-left: 2rem;
    font-weight: 400;
    color: $point-color;
    background-color: transparent !important;
  }
}
.color-pick {
  width: 70px;
  height: 60px;
  border-left: 1px solid $body-border;
  // margin-right: 5px;
  // padding-left: 2px;
  li {
    float: left;
    width: 50%;
    height: 50%;
  }
}
.color-circle {
  margin: 0 auto;
  margin-top: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  &:last-child {
    border: 1px solid $body-border;
  }
}
@include media-breakpoint-down (sm) {
  // @ < 576px
  // mobile
  #menuIcon >i {
    position: absolute;
    top: -3px;
    right: 80px;
    line-height: 64px;
    width: 30px;
    text-align: center;
  }
  #aside-wrapper {
    display: none;
  }
  #header {
    right: 0;
    #menu {
      display: block;
      width: 100%;
      height: 8rem;
      margin-top: 60px;
      z-index: 1500;
      li:not(.colors) {
        height: 60px;
        line-height: 4rem;
        font-weight: 400;
        
        padding-left: 2rem;
        background-color: $sub-back;
        border-bottom: 1px solid $body-border;
        &:nth-child(2) {
          border-bottom: 1px solid $body-border;
        }
      }
    }
    // ------------------------------- this is color picker --------------------------------
    .color-pick {
      position: absolute;
      top: -60px;
      right: 5px;
      .color-circle:hover {
        border: 3px solid $point-color;
      }
    }
  }
  #comps {
    right: 0;
  }
}
@include media-breakpoint-between (sm, md) {
  // 576px < @ < 768px,
  // mobile
  #aside-wrapper {
    z-index: 100;
    display: block;
  }
  #header {
    right: 0;
    #menu {
      display: flex;
      position: absolute;
      margin-top: 0;
      right: 0;
      width: 350px;
      height: inherit;
      z-index: 1400;
      a {
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
      }
      .color-pick {
        position: relative;
        top: 0px;
        right: 5px;
      }
      #menu-icon {
        display: none;
      }
    }
    .material-icons {
      display: block;
    }
  }
  #comps {
    right: 0;
  }
}
@include media-breakpoint-between (md, lg) {
  // 768px < @ < 992px,
  // ipad
  #menuIcon{
    color: red;
    display: none !important;
  }
  #aside-wrapper {
    display: block;
    z-index: 100;
  }
  #header {
    right: 0;
    #menu {
      display: flex;
      position: absolute;
      right: 0;
      width: 350px;
      height: inherit;
      a {
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
      }
    }
  }
}
@include media-breakpoint-between (lg, xl) {
  // 992px < @ < 1200px
  #menuIcon{
    display: none !important;
  }
  // macbook
  // standard
}
// @include media-breakpoint-up (xl) {
//   //@ > 1200px
// }
// @include media-breakpoint-between (xl, xxl) {
//   //1200px < @ < 1400px
// }
// @include media-breakpoint-up(xxl) {
//   // @ > 1400px
// }