$header-color: #91a7ce;
$point-color: #3274e6;
$point-opacity:#95bcff9d;
$base-color: #b8baffe0;
$color: #4feaff;
$color: #ffff48;
$color: #57caff;
$background: #fff9c1;
// $header-back: #e8f2ff;
$header-back: #fff;
$aside-color: #f9fcff;
// this is html background color
$sub-back: #fff;
$font-color: #000;
// $body-border: #6b90cf;
$body-border: #a6c5fc;
$body-border-opacity: #b4cfff;
$button-opacity: #f2f7ff;
$heart-color: $point-color;
$star-color: #f7b500;
$aside-width: 270px;

//border
$border: 1px solid #ddd;

//link color
$link-color: #5f6368;