$header-color: #676aff;
$point-color: #8486ff;
$base-color: #b8baffe0;
$color: #4feaff;
$color: #ffff48;
$color: #57caff;
$background: #fff9c1;
$heart-color: #ff91b7;

$aside-width: 400px;

//border
$border: 1px solid #ddd;